
<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
				<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.2.1/bootstrap-social.min.css"></script>
				<title>Srinivasan Iyer</title>
			</head>

			<body>
				<div class="container-fluid">
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">斯里尼瓦桑艾耶 | श्रीनिवासन अय्यर | Сринивасан Айер | スリニバサンアイヤル | 스 리니 바산 아이어 | iسرينيفاسان آير  </a>
							</div>
							<div id="navbar" class="navbar-collapse collapse">
								<ul class="nav navbar-nav navbar-right">
									<li class="{% ifequal navtag "moses"  %}active{% endifequal %}">
										<a href="#">
											<span class="glyphicon glyphicon-home"></span>
										</a>
									</li>
									<li class="{% ifequal navtag "tfidf"  %}active{% endifequal %}">
										<a href="#publications">Publications</a>
									</li>
									<li class="{% ifequal navtag "tfidf_sql"  %}active{% endifequal %}">
										<a href="#teaching">Teaching</a>
									</li>
									<li class="{% ifequal navtag "comparison"  %}active{% endifequal %}">
										<a href="https://www.dropbox.com/s/an6w4te5d5mv1di/sviyer_resume20012014.pdf?dl=0">CV</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>

					<div class="row">
						<div class="col-md-2">
						</div>
						<div class="col-md-2">
							<img src='srini.jpg' class="img-responsive img-rounded">
							<address>
								<h3>contact</h3>
								<p>
									<h5>
										<a href="http://www.washington.edu/maps/#!/cse">402</a> Paul G. Allen Center for Computer Science & Engineering, <br>
										West Stevens Way Northeast, <br>
										Box 352350 <br>
										Seattle, WA 98195 <br>
										<br>
										Email: <a href="mailto:sviyer@cs.washington.edu">sviyer@cs.washington.edu</a> <br>
										<br>
										<div class="navbar-text pull-left">
											<a href="mailto:sviyer@cs.washington.edu"><i class="fa fa-envelope-square fa-3x"></i></a>
											<a href="https://www.facebook.com/srinivasan.iyer.94"><i class="fa fa-facebook-square fa-3x"></i></a>
											<a href="https://www.linkedin.com/profile/view?id=170700051&trk=nav_responsive_tab_profile_pic"><i class="fa fa-linkedin-square fa-3x"></i></a>

										</div>
									</h5>
								</p>
							</address>
						</div>
						<div class="col-md-6"> 
							<div class="jumbotron">
								<h1> Srinivasan Iyer </h1>
								<p>
									Hi, I'm Srini and I'm a first year PhD student in Computer Science at the <a href="http://www.cs.washington.edu/">University of Washington</a>, Seattle. My advisors are <a href="http://homes.cs.washington.edu/~akcheung/">Alvin Cheung</a> and <a href="http://homes.cs.washington.edu/~lsz/">Luke Zettlemoyer</a>. I am interested in Natural Language Processing and Databases. Specifically, Im working on new interfaces to query databases using cues from natural language.
								</p>
								<p>
									Before this, I worked at Facebook in the Ads Ranking and Optimization team. We used machine learning to ensure that users just *love* the ads that they see on fb.
								</p>
								<p>
									I got my Masters in CS from Stanford University where I worked on BioInformatics and Theoretical CS. 
								</p>
								<p>
									I like summiting peaks, traveling to national parks and photography.
								</p>
								<a name="publications"></a> 
								<h3>publications</h3>


								<div class="gsc_a_t">
									<a href="https://github.com/sriniiyer/codenn/blob/master/summarizing_source_code.pdf" class="gsc_a_at">Summarizing Source Code using a Neural Attention Model</a>
									<div class="gs_gray">Srinivasan Iyer, Yannis Konstas, Alvin Cheung, Luke Zettlemoyer</div>
									<div class="gs_gray">Proceedings of the Annual Meeting of the Association for Computational Linguistics, 2016</div>
									<a href="https://github.com/sriniiyer/codenn">CODE</a>
									<a href="https://github.com/sriniiyer/poster.pdf">POSTER</a>
								</div><br>


								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:2osOgNQ5qMEC" class="gsc_a_at">Pharmacovigilance using clinical notes</a>
									<div class="gs_gray">Paea LePendu, Srinivasan V Iyer, Anna Bauer-Mehren, Rave Harpaz, Jonathan M Mortensen, Tanya Podchiyska, Todd A Ferris, Nigam H Shah</div>
									<div class="gs_gray">Clinical pharmacology &amp; therapeutics 93 (6), 547-555<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:u5HHmVD_uO8C" class="gsc_a_at">Annotation Analysis for Testing Drug Safety Signals using Unstructured Clinical Notes.</a>
									<div class="gs_gray">P LePendu, S Iyer, C Fairon, NH Shah</div>
									<div class="gs_gray">J. Biomedical Semantics 3 (S-1), S5<span class="gs_oph">, 2012</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:u-x6o8ySG0sC" class="gsc_a_at">Using temporal patterns in medical records to discern adverse drug events from indications</a>
									<div class="gs_gray">Y Liu, P LePendu, S Iyer, NH Shah</div>
									<div class="gs_gray">AMIA Summits on Translational Science proceedings 2012, 47<span class="gs_oph">, 2012</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:YsMSGLbcyi4C" class="gsc_a_at">Practice-based evidence: profiling the safety of cilostazol by text-mining of clinical notes</a>
									<div class="gs_gray">NJ Leeper, A Bauer-Mehren, SV Iyer, P LePendu, C Olson, NH Shah</div>
									<div class="gs_gray">PloS one 8 (5), e63499<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:ufrVoPGSRksC" class="gsc_a_at">Mining clinical text for signals of adverse drug-drug interactions</a>
									<div class="gs_gray">SV Iyer, R Harpaz, P LePendu, A Bauer-Mehren, NH Shah</div>
									<div class="gs_gray">Journal of the American Medical Informatics Association 21 (2), 353-362<span class="gs_oph">, 2014</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:WF5omc3nYNoC" class="gsc_a_at">Identifying phenotypic signatures of neuropsychiatric disorders from electronic medical records</a>
									<div class="gs_gray">S Lyalina, B Percha, P LePendu, SV Iyer, RB Altman, NH Shah</div>
									<div class="gs_gray">Journal of the American Medical Informatics Association, amiajnl-2013-001933<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:UebtZRa9Y70C" class="gsc_a_at">Automated detection of off-label drug use</a>
									<div class="gs_gray">K Jung, P LePendu, WS Chen, SV Iyer, B Readhead, JT Dudley, NH Shah</div>
									<div class="gs_gray">PloS one 9 (2), e89324<span class="gs_oph">, 2014</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:d1gkVwhDpl0C" class="gsc_a_at">Analyzing patterns of drug use in clinical notes for patient safety</a>
									<div class="gs_gray">P LePendu, Y Liu, S Iyer, MR Udell, NH Shah</div>
									<div class="gs_gray">AMIA Summits on Translational Science Proceedings 2012, 63<span class="gs_oph">, 2012</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:roLk4NBRz8UC" class="gsc_a_at">Profiling risk factors for chronic uveitis in juvenile idiopathic arthritis: a new model for EHR-based research</a>
									<div class="gs_gray">TS Cole, J Frankovich, S Iyer, P LePendu, A Bauer-Mehren, NH Shah</div>
									<div class="gs_gray">Pediatr Rheumatol Online J 11 (1), 45<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:Se3iqnhoufwC" class="gsc_a_at">Network analysis of unstructured EHR data for clinical research</a>
									<div class="gs_gray">A Bauer-Mehren, P LePendu, SV Iyer, R Harpaz, NJ Leeper, NH Shah</div>
									<div class="gs_gray">AMIA Summits on Translational Science Proceedings 2013, 14<span class="gs_oph">, 2013</span></div>
								</div><br>




								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:_FxGoFyzp5QC" class="gsc_a_at">Learning Signals of Adverse Drug-Drug Interactions from the Unstructured Text of Electronic Health Records</a>
									<div class="gs_gray">SV Iyer, P LePendu, R Harpaz, A Bauer-Mehren, NH Shah</div>
									<div class="gs_gray">AMIA Summits on Translational Science Proceedings 2013, 83<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:zYLM7Y9cAGgC" class="gsc_a_at">Case studies in making sense of clinical text</a>
									<div class="gs_gray">P LePendu, A Bauer-Mehren, K Jung, T Cole, J Mortensen, SV Iyer, NH Shah</div>
									<div class="gs_gray">Proceedings of BioLINK SIG 2013, 48-51<span class="gs_oph">, 2013</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:8k81kl-MbHgC" class="gsc_a_at">Functional evaluation of out-of-the-box text-mining tools for data-mining tasks</a>
									<div class="gs_gray">K Jung, P LePendu, S Iyer, A Bauer-Mehren, B Percha, NH Shah</div>
									<div class="gs_gray">Journal of the American Medical Informatics Association, amiajnl-2014-002902<span class="gs_oph">, 2014</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:5nxA0vEk-isC" class="gsc_a_at">Toward personalizing treatment for depression: predicting diagnosis and severity</a>
									<div class="gs_gray">SH Huang, P LePendu, SV Iyer, M Tai-Seale, D Carrell, NH Shah</div>
									<div class="gs_gray">Journal of the American Medical Informatics Association, amiajnl-2014-002733<span class="gs_oph">, 2014</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:Tyk-4Ss8FVUC" class="gsc_a_at">Pharmacovigilance using Clinical Text</a>
									<div class="gs_gray">P LePendu, SV Iyer, A Bauer-Mehren, R Harpaz, YT Ghebremariam, JP Cooke, NH Shah</div>
									<div class="gs_gray">AMIA Joint Summits on Translational Science proceedings AMIA Summit on ...<span class="gs_oph">, 2012</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:0EnyYjriUFMC" class="gsc_a_at">Analyzing Unstructured Clinical Notes for Phase IV Drug Safety Surveillance</a>
									<div class="gs_gray">P LePendu, A Bauer-Mehren, S Iyer, NH Shah</div>
									<div class="gs_gray">Circulation 126 (21 Supplement), A15727<span class="gs_oph">, 2012</span></div>
								</div><br>





								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:W7OEmFMy1HYC" class="gsc_a_at">Method and System for Ontology Based Analytics</a>
									<div class="gs_gray">N Shah, P LePendu, S Iyer</div>
									<div class="gs_gray">US Patent App. 13/424,376<span class="gs_oph">, 2012</span></div>
								</div><br>


								<div class="gsc_a_t">
									<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=jNjde2wAAAAJ&amp;citation_for_view=jNjde2wAAAAJ:hqOjcs7Dif8C" class="gsc_a_at">Predictive Models in Mental Health: From Diagnosis to Treatment</a>
									<div class="gs_gray">SH Huang, P LePendu, SV Iyer, M Tai-Seale, D Carrell, NH Shah</div>
									<div class="gs_gray"></div>
								</div><br>





								<h3>teaching</h3>
								<a name="teaching"></a> 
								<a href="https://courses.cs.washington.edu/courses/cse344/14au/">CSE 344: Introduction to Data Management</a><br>
								<div style="font-size: 10px;">Fall 2014, University of Washington</div>

							</div>
						</div>
						<div class="col-md-2">
						</div>
					</div>


				</div>
			</body>
		</html>
